<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Lista de Tarefas</a>
  </nav>

  <div class="listContainer text-center">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Custo</th>
          <th scope="col">Data Limite</th>
          <th scope="col">Editar</th>
          <th scope="col">Remover</th>
          <th scope="col">Subir</th>
          <th scope="col">Descer</th>
        </tr>
      </thead>
      <tbody *ngFor="let tarefa of tarefas; index as index;">
        <tr [ngClass]="{
          'table-warning': tarefa.custoTarefa >= 1000,
          'table-danger': tarefa.custoTarefa >= 10000
        }">
          <td>{{tarefa.nomeTarefa}}</td>
          <td>{{tarefa.custoTarefa}}</td>
          <td>{{tarefa.dataTarefa}}</td>
          <td style="display: none">{{tarefa.ordemTarefa}}</td>
          <td><button class="btn btn-primary"  data-bs-toggle="modal"
              (click)="setModal('edit', tarefa)"
              data-bs-target="#modalCadastro">Editar</button>
          </td>
          <td><button class="btn btn-danger"  data-bs-toggle="modal"
            (click)="setModal('delete', tarefa)"
            data-bs-target="#modalDeletar">Excluir</button>
          </td>
          <td><button class="btn btn-primary"
            [disabled]="index == 0"
            (click)="subirTarefa(tarefa, index)"
            >
            ^</button></td>
          <td><button class="btn btn-primary" 
            [disabled]="tarefas[tarefas.length-1].ordemTarefa == tarefa.ordemTarefa"
            (click)="descerTarefa(tarefa, index)"
            >V</button></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary"  data-bs-toggle="modal"
    (click)="setModal('add')"
    data-bs-target="#modalCadastro">Nova Tarefa</button>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="modalCadastro"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Cadastro de Tarefa</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-control" #addForm="ngForm" (ngSubmit)="modalType(addForm)">
            <div class="mb-3">
              <label for="nomeTarefa" class="form-label">Nome</label>
              <input ngModel="{{editarTarefa.nomeTarefa}}" name="nomeTarefa" 
              required="true" type="text" class="form-control" id="nomeTarefa">
            </div>
            <div class="mb-3">
              <label for="custoTarefa" class="form-label">Custo</label>
              <input ngModel="{{editarTarefa.custoTarefa}}"  name="custoTarefa" required="true" 
              type="number" class="form-control" id="custoTarefa">
            </div>
            <div class="mb-3">
              <label for="dataTarefa" class="form-label">Data</label>
              <input ngModel="{{editarTarefa.dataTarefa}}"  name="dataTarefa" 
              required="true" type="date" class="form-control" id="dataTarefa">
            </div>
            <div class="mb-3">
              <label for="ordemTarefa" class="form-label">Ordem</label>
              <input ngModel="{{editarTarefa.ordemTarefa}}" name="ordemTarefa" readonly
              type="number" class="form-control" id="ordemTarefa">
            </div>
            <div class="mb-3" style="display: flex;justify-content:space-between;">
              <button type="button" id="closeModal" class="btn btn-secondary" 
              data-bs-dismiss="modal">Cancelar</button>
              <button [disabled]="addForm.invalid"
              type="submit" class="btn btn-primary">{{modalBtn}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Deletar -->
    <div class="modal fade" id="modalDeletar" tabindex="-1" role="dialog" aria-labelledby="modalDeletarTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmar Remoção?</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="display: flex;justify-content:space-between;">
          <button type="button" id="closeModalDelete" class="btn btn-secondary" 
          data-bs-dismiss="modal">Cancelar</button>
          <button type="button" 
          (click)="deleteTarefa(editarTarefa.id)"
          class="btn btn-danger">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

</div>